In [90]:
!pip install squarify

Requirement already satisfied: squarify in /usr/local/lib/python3.6/dist-packages (0.4.3)

In [0]:
import re
import string
from collections import Counter
import squarify
import matplotlib.pyplot as plt

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import spacy
from spacy.tokenizer import Tokenizer

from bs4 import BeautifulSoup
import html as ihtml

import requests
import sqlite3

In [0]:
def extract_job_title(soup):
    jobs = []
    for div in soup.find_all(name="div", attrs={"class":"row"}):
        for a in div.find_all(name="a", attrs={"data-tn-element":"jobTitle"}):
            jobs.append(a["title"])
    return(jobs)

In [0]:
def extract_company(soup):
    companies = []
    for div in soup.find_all(name="div", attrs={"class":"row"}):
        company = div.find_all(name="span", attrs={"class":"company"})
        if len(company) > 0:
            for b in company:
                companies.append(b.text.strip())
        else:
            sec_try = div.find_all(name="span", attrs={"class":"result-linl-source"})
            for span in sec_try:
                companies.append(span.text.strip())
    return(companies)

In [0]:
def extract_location(soup):
    locations = []
    for div in soup.find_all(name="div", attrs={"class":"row"}):
        try:
            locations.append(div.find(name="span", attrs={"class":"location"}).text)
        except:
            locations.append("None")
    return(locations)

In [0]:
def extract_salary(soup):
    salaries = []
    for div in soup.find_all(name="div", attrs={"class":"row"}):
        try:
            salaries.append(div.find(name="span", attrs={"class":"salaryText"}).text.replace("\n",""))
        except:
            salaries.append("None")
    return(salaries)

In [0]:
def extract_job_title(soup):
    jobs = []
    for div in soup.find_all(name="div", attrs={"class":"row"}):
        for a in div.find_all(name="a", attrs={"data-tn-element":"jobTitle"}):
            jobs.append(a["title"])
    return(jobs)

In [0]:
def extract_url(soup):
    urls = []
    for div1 in soup.find_all(name="div", attrs={"class":"row"}):
        for div2 in div1.find_all(name="div", attrs={"class":"title"}):
            for a in div2.find_all(name="a", href=True):
                urls.append(a['href'])
    return(urls)

def extract_desc(urls):
    descs = []
    for url in urls:
        full_url = "https://www.indeed.com" + url
        detail_page = requests.get(full_url)
        detail_soup = BeautifulSoup(detail_page.text, "html.parser")
        
        for div in detail_soup.find_all(name="div", attrs={"id":"jobDescriptionText"}):
            descs.append(div.text)
    return(descs)

In [0]:
def extract_count(soup):
    for div in soup.find_all(name="div", attrs={"id":"searchCountPages"}):
        temp_str = div.text.replace(" ", "")
        temp_count_str = re.search('of(.*)jobs', temp_str)
        count_str = re.sub('[^0-9]','', temp_count_str.group(1))
        count = int(count_str)
    return(count)

In [99]:
def extract_list(title_name, city_name, st_name):
    max_results = 10
    columns = ["city", "job_title", "company", "location", "salary", "description"]

    city_url = "https://www.indeed.com/jobs?q=" + title_name + \
               "&l=" + city_name + "%2C+" + st_name
    page = requests.get(city_url)
    soup = BeautifulSoup(page.text, "html.parser")
    max_counter = extract_count(soup)
    print(max_counter)

    job_title_list = []
    company_list = []
    location_list = []
    salary_list = []
    desc_list = []

    for start in range(0, max_results, 10):
        city_url = "https://www.indeed.com/jobs?q=" + title_name + \
                   "&l=" + city_name + "%2C+" + st_name + \
                   "&start=" + str(start)
        print(city_url)
        page = requests.get(city_url)
        soup = BeautifulSoup(page.text, "html.parser")

        job_title_list.extend(extract_job_title(soup))
        company_list.extend(extract_company(soup))
        location_list.extend(extract_location(soup))
        salary_list.extend(extract_salary(soup))
        add_urls = extract_url(soup)
        desc_list.extend(extract_desc(add_urls))

    return job_title_list, company_list, location_list, salary_list, desc_list

def job_db(title, city, st):   
    j_list, c_list, l_list, s_list, d_list = extract_list(title, city, st)     
    temp_df = pd.DataFrame(list(zip(j_list, c_list, l_list, s_list, d_list)), 
                          columns = ['job_title', 'company', 'location', 'salary', 'description'])
    return temp_df

temp1_df = job_db('data+scientist', 'San+Jose', 'CA')
temp2_df = job_db('data+scientist', 'San+Francisco', 'CA')
temp3_df = job_db('data+scientist', 'Seattle', 'WA')
temp4_df = job_db('data+scientist', 'Washington', 'DC')
temp5_df = job_db('data+scientist', 'New+York', 'NY')
temp6_df = job_db('data+scientist', 'Baltimore', 'MD')
temp7_df = job_db('data+scientist', 'Boulder', 'CO')
temp8_df = job_db('data+scientist', 'San+Diego', 'CA')
temp9_df = job_db('data+scientist', 'Denver', 'CO')
temp10_df = job_db('data+scientist', 'Huntsville', 'AL')
temp11_df = job_db('data+scientist', 'Colorado+Springs', 'CO')
temp12_df = job_db('data+scientist', 'Houston', 'TX')
temp13_df = job_db('data+scientist', 'Trenton', 'NJ')
temp14_df = job_db('data+scientist', 'Dallas', 'TX')
temp15_df = job_db('data+scientist', 'Columbus', 'OH')
temp16_df = job_db('data+scientist', 'Austin', 'TX')
temp17_df = job_db('data+scientist', 'Philadelphia', 'PA')
temp18_df = job_db('data+scientist', 'Durham', 'NC')
temp19_df = job_db('data+scientist', 'Raleigh', 'NC')
temp20_df = job_db('data+scientist', 'Atlanta', 'GA')

1314
https://www.indeed.com/jobs?q=data+scientist&l=San+Jose%2C+CA&start=0
939
https://www.indeed.com/jobs?q=data+scientist&l=San+Francisco%2C+CA&start=0
1107
https://www.indeed.com/jobs?q=data+scientist&l=Seattle%2C+WA&start=0
1173
https://www.indeed.com/jobs?q=data+scientist&l=Washington%2C+DC&start=0
824
https://www.indeed.com/jobs?q=data+scientist&l=New+York%2C+NY&start=0
163
https://www.indeed.com/jobs?q=data+scientist&l=Baltimore%2C+MD&start=0
161
https://www.indeed.com/jobs?q=data+scientist&l=Boulder%2C+CO&start=0
160
https://www.indeed.com/jobs?q=data+scientist&l=San+Diego%2C+CA&start=0
181
https://www.indeed.com/jobs?q=data+scientist&l=Denver%2C+CO&start=0
23
https://www.indeed.com/jobs?q=data+scientist&l=Huntsville%2C+AL&start=0
10
https://www.indeed.com/jobs?q=data+scientist&l=Colorado+Springs%2C+CO&start=0
98
https://www.indeed.com/jobs?q=data+scientist&l=Houston%2C+TX&start=0
92
https://www.indeed.com/jobs?q=data+scientist&l=Trenton%2C+NJ&start=0
252
https://www.indeed.com/jobs?q=data+scientist&l=Dallas%2C+TX&start=0
73
https://www.indeed.com/jobs?q=data+scientist&l=Columbus%2C+OH&start=0
183
https://www.indeed.com/jobs?q=data+scientist&l=Austin%2C+TX&start=0
214
https://www.indeed.com/jobs?q=data+scientist&l=Philadelphia%2C+PA&start=0
143
https://www.indeed.com/jobs?q=data+scientist&l=Durham%2C+NC&start=0
145
https://www.indeed.com/jobs?q=data+scientist&l=Raleigh%2C+NC&start=0
260
https://www.indeed.com/jobs?q=data+scientist&l=Atlanta%2C+GA&start=0

In [100]:
indeed_df = pd.concat([temp1_df, temp2_df, temp3_df, temp4_df, temp5_df,
                       temp6_df, temp7_df, temp8_df, temp9_df, temp10_df,
                       temp11_df, temp12_df, temp13_df, temp14_df, temp15_df,
                       temp16_df, temp17_df, temp18_df, temp19_df, temp20_df], ignore_index=True)
print(indeed_df.shape)

(197, 5)

In [0]:
indeed_df = indeed_df.drop_duplicates(keep=False) 
indeed_df = indeed_df.reset_index(drop=True)

In [102]:
def convert_salary(sal_str, s_flag):
    
    sal_split = re.findall(r'\d+', sal_str.replace(",", ""))
    
    if len(sal_split) == 2:
        low_salary = int(sal_split[0])
        high_salary = int(sal_split[1])
    else:
        low_salary = None
        high_salary = None
    
    if s_flag == 'l':
        salary = low_salary
    else:
        salary = high_salary
    
    return salary

indeed_df['low_salary'] = indeed_df.apply(lambda x: convert_salary(x['salary'], 'l'), axis=1)
indeed_df['high_salary'] = indeed_df.apply(lambda x: convert_salary(x['salary'], 'h'), axis=1)
indeed_df = indeed_df.drop(columns=['salary'])

indeed_df.head()

                                  job_title  ... high_salary
0  Siri - Data Scientist, Data Organization  ...         NaN
1                            Data Scientist  ...         NaN
2                            Data Scientist  ...    135000.0
3                            Data Scientist  ...         NaN
4                            Data Scientist  ...         NaN

[5 rows x 6 columns]

In [103]:
def clean_text(text):
    text = text.replace('\\n', ' ')               # remove newline
    text = BeautifulSoup(text, "lxml").get_text() # remove html
    text = text.replace('/', ' ')                 # remove forward slashes
    text = re.sub(r'[^a-zA-Z ^0-9]', '', text)    # letters and numbers only
    text = text.lower()                           # lower case
    text = re.sub(r'(x.[0-9])', '', text)         # remove special characters
    return text

indeed_df['description'] = indeed_df.apply(lambda x: clean_text(x['description']), axis=1)

indeed_df.head()

                                  job_title  ... high_salary
0  Siri - Data Scientist, Data Organization  ...         NaN
1                            Data Scientist  ...         NaN
2                            Data Scientist  ...    135000.0
3                            Data Scientist  ...         NaN
4                            Data Scientist  ...         NaN

[5 rows x 6 columns]

In [104]:
indeed_df['description'][0]

'summaryposted dec 6 2019weekly hours 40role number200125352would you like to play a part in the next revolution in humancomputer interaction contribute to a product that is redefining mobile and desktop computing and work with the people who built the intelligent assistant that helps millions of people get things done  just by askingthe vision for the siri data organization is to improve siri by using data as the voice of our customers within this organization the mission of the analytics team is to inform the evolution of siri through measurement and analysis of the user experience as a data scientist on the team you will be an ambassador of analytics to language understanding product and engineering teams with the ultimate purpose of improving the siri experience for apple customerskey qualificationsyou think about language and complex systems in terms of statistical distributions and have a big enough toolbox to know how to find patterns in data identify targets for performance and identify sources of variance about those targetsyou use good judgment balancing art and science when visually communicating information eg tableau superset ggplot d3 matplotlib plotly bokehyou have engineered information out of massive and complex datasets eg hive spark druid elasticsearch solryou have proven experience with at least one programming language eg python r scala and are comfortable developing code in a team environment eg git notebooks testingyou are selfmotivated and curious with demonstrated creative and critical thinking capabilities and an innate drive to improve how things workyou have a high tolerance for ambiguity you find a way through you anticipate you connect and synthesizeyou have excellent verbal and written communications skills and experience in influencing decisions with informationyour academic background is in a quantitative field such as computer science computational linguistics mathematics statistics engineering economics or physics advanced degree preferreddescriptionpartner with multiple languageunderstanding and product engineering teams to understand systemic behavior of siri and develop methods for evaluating component and model interactions bias propagation and hierarchical optimizationdefine metrics that we will measure our efforts against as well as defining the instrumentation required for yielding sufficient datacommunicate with and advocate to a wide audience of engineers managers and executives to inform decisions on how siris capabilities evolvebuild analytic visualization and other information products with a drive to automate and scale the insights available to science and engineering teamsperform exploratory data analyses to enrich our mental models about siri usage and identify new questions to pursueextract information from structured and unstructured data coming from siris computational architecturewe are looking for people with a track record in building insights and relationships to affect decisions join us and impact hundreds of millions of customers across billions of their interactions with a personal intelligent assistant who is available on iphone ipad homepod watch tv and mac across more than 30 languagesadditional requirementsapple is an equal opportunity employer that is committed to inclusion and diversity we take affirmative action to ensure equal opportunity for all applicants without regard to race color religion sex sexual orientation gender identity national origin disability veteran status or other legally protected characteristics'

In [105]:
indeed_df['description'][4]

'data scientistjob descriptiondata scientist positions offered by ford motor company palo alto ca build machine learning models to solve business problems perform data acquisition and cleaning data exploration hypothesis formation and testing experimental design and custom software developmentminimum requirementsmasters or foreign equivalent degree in industrial engineering computer science or a related field3 years of experience in the position offered or 3 years of experience in automotive industry supporting business units with machine learning and deep learning techniques3 years of experience developing machine learning models with a focus on text analytics applications with natural language processing techniques including parsing word embeddings clustering cosine distance similarity metrics language modeling and ontologies3 years of experience performing hypothesis testing and inference probability distributions confidence intervals and pvalues3 years of experience working in hadoop ecosystem and distributed cluster computing3 years of experience working in linux unix systems3 years of experience using relational databases and sql programming2 years of experience performing webbased development2 years of experience using software development methodologies including waterfall and agile2 years of experience building supervised and unsupervised models with scikitlearn and sparkml and training neural networks with gradient descent optimization on machine learning platforms1 year of experience using containerization technologies experience may be but need not be acquired concurrentlyjoin our team as we create tomorrow we believe in putting people first working together and facing challenges headon because were built ford tough were one team striving to make peoples lives better while creating value delivering excellence and ultimately going for the winford motor company is an equal opportunity employer committed to a culturally diverse workforce all qualified applicants will receive consideration for employment without regard to race religion color age sex national origin sexual orientation gender identity disability status or protected veteran statusvisa sponsorship may be available for this position'

In [0]:
# convert to sqlite3
conn = sqlite3.connect('techsearch.sqlite3')
curs = conn.cursor()
curs.execute('drop table if exists listings')
indeed_df.to_sql('listings', con=conn)