In [2]:
import re
import string
from collections import Counter
import squarify
import matplotlib.pyplot as plt

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import spacy
from spacy.tokenizer import Tokenizer

from bs4 import BeautifulSoup
import html as ihtml

import requests

In [4]:
def extract_job_title(soup):
    jobs = []
    for div in soup.find_all(name="div", attrs={"class":"row"}):
        for a in div.find_all(name="a", attrs={"data-tn-element":"jobTitle"}):
            jobs.append(a["title"])
    return(jobs)

In [5]:
def extract_company(soup):
    companies = []
    for div in soup.find_all(name="div", attrs={"class":"row"}):
        company = div.find_all(name="span", attrs={"class":"company"})
        if len(company) > 0:
            for b in company:
                companies.append(b.text.strip())
        else:
            sec_try = div.find_all(name="span", attrs={"class":"result-linl-source"})
            for span in sec_try:
                companies.append(span.text.strip())
    return(companies)

In [6]:
def extract_location(soup):
    locations = []
    for div in soup.find_all(name="div", attrs={"class":"row"}):
        try:
            locations.append(div.find(name="span", attrs={"class":"location"}).text)
        except:
            locations.append("None")
    return(locations)

In [7]:
def extract_salary(soup):
    salaries = []
    for div in soup.find_all(name="div", attrs={"class":"row"}):
        try:
            salaries.append(div.find(name="span", attrs={"class":"salaryText"}).text.replace("\n",""))
        except:
            salaries.append("None")
    return(salaries)

In [9]:
def extract_job_title(soup):
    jobs = []
    for div in soup.find_all(name="div", attrs={"class":"row"}):
        for a in div.find_all(name="a", attrs={"data-tn-element":"jobTitle"}):
            jobs.append(a["title"])
    return(jobs)

In [10]:
def extract_url(soup):
    urls = []
    for div1 in soup.find_all(name="div", attrs={"class":"row"}):
        for div2 in div1.find_all(name="div", attrs={"class":"title"}):
            for a in div2.find_all(name="a", href=True):
                urls.append(a['href'])
    return(urls)

def extract_desc(urls):
    descs = []
    for url in urls:
        full_url = "https://www.indeed.com" + url
        detail_page = requests.get(full_url)
        detail_soup = BeautifulSoup(detail_page.text, "html.parser")
        
        for div in detail_soup.find_all(name="div", attrs={"id":"jobDescriptionText"}):
            descs.append(div.text)
    return(descs)

In [11]:
def extract_count(soup):
    for div in soup.find_all(name="div", attrs={"id":"searchCountPages"}):
        temp_str = div.text.replace(" ", "")
        count_str = re.search('of(.*)jobs', temp_str) 
        count = int(count_str.group(1))
    return(count)

In [16]:
max_results = 100
title_name = "data+scientist"
city_name = "San+Francisco"
st_name = "CA"
columns = ["city", "job_title", "company", "location", "salary", "description"]

city_url = "https://www.indeed.com/jobs?q=" + title_name + \
               "&l=" + city_name + "%2C+" + st_name
page = requests.get(city_url)
soup = BeautifulSoup(page.text, "html.parser")
max_counter = extract_count(soup)
counter = 0
print(max_counter)

job_title_list = []
company_list = []
location_list = []
salary_list = []
desc_list = []

for start in range(0, max_results, 10):
    city_url = "https://www.indeed.com/jobs?q=" + title_name + \
               "&l=" + city_name + "%2C+" + st_name + \
               "&start=" + str(start)
    print(city_url)
    page = requests.get(city_url)
    soup = BeautifulSoup(page.text, "html.parser")

    job_title_list.extend(extract_job_title(soup))
    company_list.extend(extract_company(soup))
    location_list.extend(extract_location(soup))
    salary_list.extend(extract_salary(soup))
    add_urls = extract_url(soup)
    desc_list.extend(extract_desc(add_urls))
    
    # counter = len(job_title_list)
    # if counter >= max_counter:
    #     break
    
indeed_df = pd.DataFrame(list(zip(job_title_list, company_list, location_list, 
                                  salary_list, desc_list)), 
                         columns = ['job_title', 'company', 'location', 'salary', 'description'])

935
https://www.indeed.com/jobs?q=data+scientist&l=San+Francisco%2C+CA&start=0
https://www.indeed.com/jobs?q=data+scientist&l=San+Francisco%2C+CA&start=10
https://www.indeed.com/jobs?q=data+scientist&l=San+Francisco%2C+CA&start=20
https://www.indeed.com/jobs?q=data+scientist&l=San+Francisco%2C+CA&start=30
https://www.indeed.com/jobs?q=data+scientist&l=San+Francisco%2C+CA&start=40
https://www.indeed.com/jobs?q=data+scientist&l=San+Francisco%2C+CA&start=50
https://www.indeed.com/jobs?q=data+scientist&l=San+Francisco%2C+CA&start=60
https://www.indeed.com/jobs?q=data+scientist&l=San+Francisco%2C+CA&start=70
https://www.indeed.com/jobs?q=data+scientist&l=San+Francisco%2C+CA&start=80
https://www.indeed.com/jobs?q=data+scientist&l=San+Francisco%2C+CA&start=90

In [17]:
indeed_df = indeed_df.drop_duplicates(keep=False) 
indeed_df = indeed_df.reset_index(drop=True)

In [18]:
indeed_df

,job_title,company,location,salary,description
0,Machine Learning Engineer,Triplebyte,None,"$125,000 - $190,000 a year",About TriplebyteTriplebyte helps companies fin...
1,Statistical Programmer,Quantum Leap Healthcare,None,None,Statistical programmer is responsible for load...
2,Data Scientist,Blue Owl,None,"$200,000 - $350,000 a year",A million people a year die in car collisions ...
3,Data Scientist,Stripe,None,None,Generate insights and impact from data.\n\nWe'...
4,Data Scientist,Grammarly,None,None,The opportunity\n\n\nGrammarly empowers people...
5,Senior Data Analyst,OneDotSix Consulting Inc,None,"$120,000 a year",10+ years of experience in Business and Data A...
6,Data Scientist,Affinity,None,None,Affinity is on a mission to help everyone in t...
7,Research Data Scientist,University of California San Francisco,"San Francisco, CA 94143 (Inner Sunset area)",None,The Research Data Scientist will join a collab...
8,Data Scientist 1,Autodesk,"San Francisco, CA",None,"Autodesk enables our customers to imagine, des..."
9,Data Scientist,University of California San Francisco,"San Francisco, CA 94143 (Inner Sunset area)",None,The Bioinformatics Programmer will work with t...
10,Data Scientist (Jr. to Sr. Level),Piper Companies,"San Francisco, CA 94107 (South Of Market area)","$120,000 - $220,000 a year",Piper Companies is currently looking for Data ...
11,Data Scientist,WanderJaunt,"San Francisco, CA",None,Who We Are\n\nWanderJaunt is building the futu...
12,Data Scientist,Spin,"San Francisco, CA",None,----------\nAbout Spin\n----------\n\nSpin ope...
13,Geospatial Data Scientist,Deloitte,"San Francisco Bay Area, CA",None,Role:\nWe are seeking a scientist with experie...
14,Data Scientist,Splunk,"San Francisco, CA",None,Deloitte Services LP includes internal support...
15,Data Scientist - Marketing Analytics,Woodruff Sawyer,"San Francisco, CA",None,Join us as we pursue our disruptive new vision...
16,Data Scientist,Quicken Inc.,"San Francisco, CA 94111 (Financial District area)",None,The Commercial Lines BI team at WS is a newly ...
17,Data Analyst/Data Scientist,Triplebyte,None,None,Quicken is committed to helping people lead he...
18,Data Analyst/Data Scientist,Stripe,None,None,Quicken is committed to helping people lead he...
19,Software Development / Data Science Internship,Accenture,None,None,We are looking for Software Development and Da...
20,SAP Data Integration Consultant - West Region,Splunk,None,None,Do you want to revolutionize the future of bus...
21,Data Scientist - Marketing Analytics,Gap Inc.,"San Francisco, CA",None,Join us as we pursue our disruptive new vision...
22,Data Scientist,Esurance,"San Francisco, CA 94105 (Financial District area)",None,About Gap Inc.\nOur past is full of iconic mom...
23,Data Scientist,EGIS INC,"San Francisco, CA 94105 (Financial District area)",None,Summary\nEsurance is looking for a Data Scient...
24,Data Scientist,Splunk,"San Francisco, CA","$50,000 - $70,000 a year",We are looking for a Data Scientist to analyze...
25,Applied Scientist,Ceres Imaging,"San Francisco, CA",None,Join us as we pursue our disruptive new vision...
26,Geospatial Data Scientist,Uber,"Oakland, CA",None,About Us:\nCeres Imaging is a venture-backed c...
27,Staff Data Scientist,Harmonize,"San Francisco, CA 94105 (Financial District area)",None,"At Uber, we ignite opportunity by setting the ..."
28,Data Scientist,Branch International,"San Francisco, CA",None,Harmonize is a turnkey population health solut...
29,Data Scientist,Wish,"San Francisco, CA",None,Branch Overview\nBranch delivers world-class f...
...,...,...,...,...,...
104,DATA SCIENTIST,Fanatics Inc.,"San Francisco, CA 94105 (Financial District area)","$105,000 - $130,000 a year",Summary: We at Innovaccer are looking for a Da...
105,Data Scientist #5967,Ancestry,"San Mateo, CA",None,Company Overview\n\nFanatics is the global lea...
106,"Data Science, Intern (Record Linking)",Google,"San Francisco, CA",None,"About Ancestry: When you join Ancestry, you jo..."
107,"Analyst, Applied Data and Machine Learning",Scale AI,"San Francisco, CA 94105 (Financial District area)",None,Minimum qualifications:\n\nBachelor's degree o...
108,Software Development / Data Science Internship,Freedom Financial Network,None,None,We are looking for Software Development and Da...
109,Senior Data Scientist,Blue Owl,None,None,WHO WE ARE:\nFreedom Financial Network is a fa...
110,Machine Learning Research Intern,Plaid,"San Francisco, CA",None,The goal of the ML team at Scale is to develop...
111,Data Scientist,Unity Technologies,"San Francisco, CA",None,Plaid’s data science team is building technolo...
112,Machine Learning Graphics Intern,Affinity.co,"San Francisco, CA 94107 (South Of Market area)",None,Our Machine Learning Graphics team wants to re...
113,Data Scientist,Ancestry,"San Francisco, CA 94131 (Diamond Heights area)",None,Affinity is on a mission to help everyone in t...
114,"Data Science, Intern (Record Linking)",Nestle USA,"San Francisco, CA",None,"About Ancestry: When you join Ancestry, you jo..."
115,Statistical Modeling & Forecasting Scientist,Esurance,"Oakland, CA",None,Foods people love. The life you imagined. And ...
116,Data Science Intern,Walmart eCommerce,"San Francisco, CA 94105 (Financial District area)",None,Summary\nTeam. Culture. Community. That’s Life...
117,FY20 Intern Conversion: Data Scientist,World Economic Forum LLC,"San Bruno, CA 94066",None,Position Description\n\nA Data Scientist is re...
118,"Platform Curator, Artificial Intelligence and ...",innovaccer,"San Francisco, CA",None,"Platform Curator, Artificial Intelligence and ..."
119,DATA SCIENTIST,Scale AI,"San Francisco, CA 94105 (Financial District area)","$105,000 - $130,000 a year",Summary: We at Innovaccer are looking for a Da...
120,Data Scientist,Quicken Inc.,None,None,The opportunity\n\n\nGrammarly empowers people...
121,Data Analyst/Data Scientist,Freedom Financial Network,None,None,Quicken is committed to helping people lead he...
122,Senior Data Scientist,Triplebyte,None,None,WHO WE ARE:\nFreedom Financial Network is a fa...
123,Machine Learning Engineer,Afresh,None,"$125,000 - $190,000 a year",About TriplebyteTriplebyte helps companies fin...
124,Data Analyst,The Climate Corporation,"San Francisco, CA",None,"At Afresh, we’re reducing food waste and savin..."
125,Data Scientist - Crop Management,Prosper,"San Francisco, CA",None,Position Overview:\nThe Crop Management Team a...
126,Data Scientist,"Amazon Web Services, Inc.","San Francisco, CA 94104 (Financial District area)",None,Who We Are\n\nProsper is built on a simple ide...
127,Data Scientist,Figure,"San Francisco, CA",None,"BS and Masters degrees in computer science, or..."
128,Data Scientist,SF VA Medical Center,"San Francisco, CA 94104 (Financial District area)",None,About Figure\n\nFigure Technologies creates in...
129,Statistician,Reddit,"San Francisco, CA",None,POSITION DEFINITION:\nWe are seeking a full-ti...
130,"Staff Data Scientist, Ads",ClassDojo,"San Francisco, CA",None,"The front page of the internet,"" Reddit brings..."
131,Data Scientist / Product Analyst,Verana Health,"San Francisco, CA 94103 (South Of Market area)",None,ClassDojo's ultimate goal is to create an educ...
132,Clinical Data Scientist,MasterClass,"San Francisco, CA",None,Verana Health is looking for an experienced da...
133,Data Scientist,Scale AI,"San Francisco, CA",None,Who we are:\nMasterClass is transforming onlin...

In [87]:
str = indeed_df['salary'][0]
sal_split = re.findall(r'\d+', str.replace(",", ""))
print(sal_split)

['125000', '190000']

In [88]:
len(sal_split)

2

In [89]:
if len(sal_split) == 2:
    low_salary = int(sal_split[0])
    high_salary = int(sal_split[1])
else:
    low_salary = None
    high_salary = None

print(low_salary, high_salary)

125000 190000

In [97]:
def convert_salary(sal_str, s_flag):
    
    sal_split = re.findall(r'\d+', sal_str.replace(",", ""))
    
    if len(sal_split) == 2:
        low_salary = int(sal_split[0])
        high_salary = int(sal_split[1])
    else:
        low_salary = None
        high_salary = None
    
    if s_flag == 'l':
        salary = low_salary
    else:
        salary = high_salary
    
    return salary

indeed_df['low_salary'] = indeed_df.apply(lambda x: convert_salary(x['salary'], 'l'), axis=1)
indeed_df['high_salary'] = indeed_df.apply(lambda x: convert_salary(x['salary'], 'h'), axis=1)

indeed_df.head()

,job_title,company,location,salary,description,low_salary,high_salary
0,Machine Learning Engineer,Triplebyte,None,"$125,000 - $190,000 a year",About TriplebyteTriplebyte helps companies fin...,125000.0,190000.0
1,Statistical Programmer,Quantum Leap Healthcare,None,None,Statistical programmer is responsible for load...,NaN,NaN
2,Data Scientist,Blue Owl,None,"$200,000 - $350,000 a year",A million people a year die in car collisions ...,200000.0,350000.0
3,Data Scientist,Stripe,None,None,Generate insights and impact from data.\n\nWe'...,NaN,NaN
4,Data Scientist,Grammarly,None,None,The opportunity\n\n\nGrammarly empowers people...,NaN,NaN

In [98]:
indeed_df

,job_title,company,location,salary,description,low_salary,high_salary
0,Machine Learning Engineer,Triplebyte,None,"$125,000 - $190,000 a year",About TriplebyteTriplebyte helps companies fin...,125000.0,190000.0
1,Statistical Programmer,Quantum Leap Healthcare,None,None,Statistical programmer is responsible for load...,NaN,NaN
2,Data Scientist,Blue Owl,None,"$200,000 - $350,000 a year",A million people a year die in car collisions ...,200000.0,350000.0
3,Data Scientist,Stripe,None,None,Generate insights and impact from data.\n\nWe'...,NaN,NaN
4,Data Scientist,Grammarly,None,None,The opportunity\n\n\nGrammarly empowers people...,NaN,NaN
5,Senior Data Analyst,OneDotSix Consulting Inc,None,"$120,000 a year",10+ years of experience in Business and Data A...,NaN,NaN
6,Data Scientist,Affinity,None,None,Affinity is on a mission to help everyone in t...,NaN,NaN
7,Research Data Scientist,University of California San Francisco,"San Francisco, CA 94143 (Inner Sunset area)",None,The Research Data Scientist will join a collab...,NaN,NaN
8,Data Scientist 1,Autodesk,"San Francisco, CA",None,"Autodesk enables our customers to imagine, des...",NaN,NaN
9,Data Scientist,University of California San Francisco,"San Francisco, CA 94143 (Inner Sunset area)",None,The Bioinformatics Programmer will work with t...,NaN,NaN
10,Data Scientist (Jr. to Sr. Level),Piper Companies,"San Francisco, CA 94107 (South Of Market area)","$120,000 - $220,000 a year",Piper Companies is currently looking for Data ...,120000.0,220000.0
11,Data Scientist,WanderJaunt,"San Francisco, CA",None,Who We Are\n\nWanderJaunt is building the futu...,NaN,NaN
12,Data Scientist,Spin,"San Francisco, CA",None,----------\nAbout Spin\n----------\n\nSpin ope...,NaN,NaN
13,Geospatial Data Scientist,Deloitte,"San Francisco Bay Area, CA",None,Role:\nWe are seeking a scientist with experie...,NaN,NaN
14,Data Scientist,Splunk,"San Francisco, CA",None,Deloitte Services LP includes internal support...,NaN,NaN
15,Data Scientist - Marketing Analytics,Woodruff Sawyer,"San Francisco, CA",None,Join us as we pursue our disruptive new vision...,NaN,NaN
16,Data Scientist,Quicken Inc.,"San Francisco, CA 94111 (Financial District area)",None,The Commercial Lines BI team at WS is a newly ...,NaN,NaN
17,Data Analyst/Data Scientist,Triplebyte,None,None,Quicken is committed to helping people lead he...,NaN,NaN
18,Data Analyst/Data Scientist,Stripe,None,None,Quicken is committed to helping people lead he...,NaN,NaN
19,Software Development / Data Science Internship,Accenture,None,None,We are looking for Software Development and Da...,NaN,NaN
20,SAP Data Integration Consultant - West Region,Splunk,None,None,Do you want to revolutionize the future of bus...,NaN,NaN
21,Data Scientist - Marketing Analytics,Gap Inc.,"San Francisco, CA",None,Join us as we pursue our disruptive new vision...,NaN,NaN
22,Data Scientist,Esurance,"San Francisco, CA 94105 (Financial District area)",None,About Gap Inc.\nOur past is full of iconic mom...,NaN,NaN
23,Data Scientist,EGIS INC,"San Francisco, CA 94105 (Financial District area)",None,Summary\nEsurance is looking for a Data Scient...,NaN,NaN
24,Data Scientist,Splunk,"San Francisco, CA","$50,000 - $70,000 a year",We are looking for a Data Scientist to analyze...,50000.0,70000.0
25,Applied Scientist,Ceres Imaging,"San Francisco, CA",None,Join us as we pursue our disruptive new vision...,NaN,NaN
26,Geospatial Data Scientist,Uber,"Oakland, CA",None,About Us:\nCeres Imaging is a venture-backed c...,NaN,NaN
27,Staff Data Scientist,Harmonize,"San Francisco, CA 94105 (Financial District area)",None,"At Uber, we ignite opportunity by setting the ...",NaN,NaN
28,Data Scientist,Branch International,"San Francisco, CA",None,Harmonize is a turnkey population health solut...,NaN,NaN
29,Data Scientist,Wish,"San Francisco, CA",None,Branch Overview\nBranch delivers world-class f...,NaN,NaN
...,...,...,...,...,...,...,...
104,DATA SCIENTIST,Fanatics Inc.,"San Francisco, CA 94105 (Financial District area)","$105,000 - $130,000 a year",Summary: We at Innovaccer are looking for a Da...,105000.0,130000.0
105,Data Scientist #5967,Ancestry,"San Mateo, CA",None,Company Overview\n\nFanatics is the global lea...,NaN,NaN
106,"Data Science, Intern (Record Linking)",Google,"San Francisco, CA",None,"About Ancestry: When you join Ancestry, you jo...",NaN,NaN
107,"Analyst, Applied Data and Machine Learning",Scale AI,"San Francisco, CA 94105 (Financial District area)",None,Minimum qualifications:\n\nBachelor's degree o...,NaN,NaN
108,Software Development / Data Science Internship,Freedom Financial Network,None,None,We are looking for Software Development and Da...,NaN,NaN
109,Senior Data Scientist,Blue Owl,None,None,WHO WE ARE:\nFreedom Financial Network is a fa...,NaN,NaN
110,Machine Learning Research Intern,Plaid,"San Francisco, CA",None,The goal of the ML team at Scale is to develop...,NaN,NaN
111,Data Scientist,Unity Technologies,"San Francisco, CA",None,Plaid’s data science team is building technolo...,NaN,NaN
112,Machine Learning Graphics Intern,Affinity.co,"San Francisco, CA 94107 (South Of Market area)",None,Our Machine Learning Graphics team wants to re...,NaN,NaN
113,Data Scientist,Ancestry,"San Francisco, CA 94131 (Diamond Heights area)",None,Affinity is on a mission to help everyone in t...,NaN,NaN
114,"Data Science, Intern (Record Linking)",Nestle USA,"San Francisco, CA",None,"About Ancestry: When you join Ancestry, you jo...",NaN,NaN
115,Statistical Modeling & Forecasting Scientist,Esurance,"Oakland, CA",None,Foods people love. The life you imagined. And ...,NaN,NaN
116,Data Science Intern,Walmart eCommerce,"San Francisco, CA 94105 (Financial District area)",None,Summary\nTeam. Culture. Community. That’s Life...,NaN,NaN
117,FY20 Intern Conversion: Data Scientist,World Economic Forum LLC,"San Bruno, CA 94066",None,Position Description\n\nA Data Scientist is re...,NaN,NaN
118,"Platform Curator, Artificial Intelligence and ...",innovaccer,"San Francisco, CA",None,"Platform Curator, Artificial Intelligence and ...",NaN,NaN
119,DATA SCIENTIST,Scale AI,"San Francisco, CA 94105 (Financial District area)","$105,000 - $130,000 a year",Summary: We at Innovaccer are looking for a Da...,105000.0,130000.0
120,Data Scientist,Quicken Inc.,None,None,The opportunity\n\n\nGrammarly empowers people...,NaN,NaN
121,Data Analyst/Data Scientist,Freedom Financial Network,None,None,Quicken is committed to helping people lead he...,NaN,NaN
122,Senior Data Scientist,Triplebyte,None,None,WHO WE ARE:\nFreedom Financial Network is a fa...,NaN,NaN
123,Machine Learning Engineer,Afresh,None,"$125,000 - $190,000 a year",About TriplebyteTriplebyte helps companies fin...,125000.0,190000.0
124,Data Analyst,The Climate Corporation,"San Francisco, CA",None,"At Afresh, we’re reducing food waste and savin...",NaN,NaN
125,Data Scientist - Crop Management,Prosper,"San Francisco, CA",None,Position Overview:\nThe Crop Management Team a...,NaN,NaN
126,Data Scientist,"Amazon Web Services, Inc.","San Francisco, CA 94104 (Financial District area)",None,Who We Are\n\nProsper is built on a simple ide...,NaN,NaN
127,Data Scientist,Figure,"San Francisco, CA",None,"BS and Masters degrees in computer science, or...",NaN,NaN
128,Data Scientist,SF VA Medical Center,"San Francisco, CA 94104 (Financial District area)",None,About Figure\n\nFigure Technologies creates in...,NaN,NaN
129,Statistician,Reddit,"San Francisco, CA",None,POSITION DEFINITION:\nWe are seeking a full-ti...,NaN,NaN
130,"Staff Data Scientist, Ads",ClassDojo,"San Francisco, CA",None,"The front page of the internet,"" Reddit brings...",NaN,NaN
131,Data Scientist / Product Analyst,Verana Health,"San Francisco, CA 94103 (South Of Market area)",None,ClassDojo's ultimate goal is to create an educ...,NaN,NaN
132,Clinical Data Scientist,MasterClass,"San Francisco, CA",None,Verana Health is looking for an experienced da...,NaN,NaN
133,Data Scientist,Scale AI,"San Francisco, CA",None,Who we are:\nMasterClass is transforming onlin...,NaN,NaN